<p class="text-md text-challenge-blue-dark font-bold">Mortgage Calculator</p>
<a (click)="clearForm(mortgageForm)"
  href="#" class="text-[0.75rem] cursor-pointer hover:text-challenge-blue-dark underline text-challenge-gray-clear"
  >Clean All</a>
<form #mortgageForm="ngForm" class="py-2">
  <p class="input-title">Mortgage Amount</p>
   <input required
      ngModel name="mortgageAmount" #mortgageAmount ="ngModel"
      class="input-component"
      type="number"
      >

  <p class="input-title">Mortgage Terms</p>
  <input required
    ngModel name="mortgageTerm" #mortgageTerm ="ngModel"
    class="input-component"
    type="number"
    step="any"
    >

  <p class="input-title">Interest Rate</p>
  <input required
    ngModel name="interestRate" #interestRate ="ngModel"
    class="input-component"
    type="number"
    >

  <div class="flex flex-col gap-x-3 mb-4">
  <p class="input-title "> Mortgage Type</p>
  <label class="text-[0.78rem] text-challenge-blue-dark border
  border-challenge-gray-clear  mb-1 font-bold p-2.5 h-9">
  <input required
    ngModel="mortgageType" #mortgageType ="ngModel"
    name="mortgageType" value="repayment"
    class="mr-2"
    type="radio"
    > Repayment
     </label>
  <label  class="text-[0.78rem]  text-challenge-blue-dark font-bold border
  border-challenge-gray-clear p-2.5 h-9 ">
  <input required
    ngModel="mortgageType" #mortgageType ="ngModel"
    name="mortgageType" value="interest"
    class=" mr-2 "
    type="radio"
    > Interest Only </label>

 </div>

  <button
    class="bg-challenge-indigo w-[50%] px-8 h-9 z-0
    rounded-2xl font-bold border border-challenge-gray-clear text-[0.75rem]
    text-challenge-blue-dark"
    type="submit"
    name="btn-calculateRepayment"
    (click)="calculateRepayment(mortgageForm)"
    >

    Calculate
  </button>
</form>

